<html>
<head>
    <title>Party Playlist Generator</title>
</head>
<body>
    <h1>Create Playlist</h1>
    <form action="/action_page.php">
        <label for="pname">Name of New Playlist: </label><br>
        <input type="text" id="pname" name="pname"><br>

        <label for="numSongs">Number of Songs Wanted: </label><br>
        <input type="text" id="numSongs" name="numSongs"><br><br>

        <label for="genres">Genres (comma separated): </label><br>
        <input type="text" id="genres" name="genres"><br><br>

        <input type="submit" value="Submit">
      </form> 
</body>
</html> 
